{% extends "auctions/listing.html" %}

{% block combody %}





<section style="background-color: #fefefe;">
<div class="container my-5 py-5 text-body">
<div class="row d-flex justify-content-center" >

    <div style="background-color: bisque; border-radius: .5em; padding-bottom: 10px; padding-left: 4px; padding-right: 4px; box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);">
        <p style="font-family: Trebuchet MS, sans-serif; font-size: 18px; padding-top: 17px; padding-left: 7px;">Write a Comment</p>
        <form action="{% url 'add_comment' auction.id %}" method="POST" class="" style=" box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);">
            {% csrf_token %}
            {{ comment_form }}
            <br>
            <input class="btn btn-primary" type="submit" value="Add comment" style="float: right; background-color: rgb(107, 9, 198); border-color: rgb(107, 9, 198); margin-top: 1px;">
        </form>
    </div>



 
  


    
  <div class="col-md-12 col-lg-10 col-xl-8" >
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="text-body mb-0"  style="font-family: Trebuchet MS, sans-serif; padding-top: 20px;">comments</h4> 
      </div>
    </div>

    {% for comment in comments %}
    <div class="card mb-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
        <div class="card-body">
          <div class="d-flex flex-start">
            <img class="rounded-circle shadow-1-strong me-3"
              src="https://e7.pngegg.com/pngimages/798/436/png-clipart-computer-icons-user-profile-avatar-profile-heroes-black.png" alt="avatar" width="40"
              height="40" />
            <div class="w-100">
              <div class="d-flex justify-content-between align-items-center mb-3" style="width: 700px; ">
                <h6 class="text-primary fw-bold mb-0" style="padding-left: 10px;">
                {{ comment.user }}<br>
                  <span class="text-body ms-2" style="padding-left: 10px; padding-top: 2px;">↪ {{ comment.text }}</span>
                </h6>
                <p class="mb-0">{{ comment.created_at }}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="small mb-0" style="color: #ffffff;">
                  <a href="#!" class="link-grey">Remove</a> •
                  <a href="#!" class="link-grey">Reply</a> •

                </p>
                <div class="d-flex flex-row">
                  <i class="far fa-check-circle text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

  </div>
</div>
</div>
</section>


{% endblock %}